ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    list-style: none;
}

li.station-item {
    background: #FFF;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
    border-radius: 2px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li.station-item img {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    margin-bottom: 20px;
}

li.station-item strong {
    margin-bottom: 15px;
}

span.status {
    margin-bottom: 15px;
}

.greenStatus {
    color: #7CBB00;
}

.redStatus {
    color: #EA4335;
}