#app {
    max-width: 1500px;
    margin: 30px;
    margin-top: 20px;
    padding: 60px 30px;

    display: flex;
    flex-direction: row;

    align-items: flex-start;
    justify-content: space-between;
}

#app main {
    margin-left: 30px;
}

@media (max-width: 1000px) {
    #app {
        flex-direction: column;
    }

    #app main {
        margin-left: 0;
        margin-top: 30px;
    }
}